@model EasyManage.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-8">

            <div>
                <h4>Admin Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.AdminEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdminEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConfirmPassword)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
