@model IEnumerable<EasyManage.Models.Product>
@{
    ViewBag.Title = "checkout";
}


<h2>checkout</h2>

@if (TempData["cart"] != null)
{


    <table class="table table-responsive">

        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>BILL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TempData["cart"] as List<EasyManage.Models.ManageProduct>)
            {

                <tr>
                    <td>@item.productid</td>
                    <td>@item.productname</td>
                    <td>@item.price</td>
                    <td>@item.qty</td>
                    <td>@item.bill</td>
                    <td><a class="btn btn-danger btn-sm" href="@Url.Action("Remove" ,new{id=@item.productid})">&#10060;</a></td>
                </tr>

            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>@TempData["total"]</td>

            </tr>
        </tfoot>

    </table>

}
else
{
    <h2 style="color:red"> Cart is empty....</h2>
    @Html.ActionLink("go Back", "Index1", "Users")
}

@if (TempData["cart"] != null)
{
    using (Html.BeginForm())
    {
        //  <a class="btn btn-primary" href="/cart/checkout"> <i class="fa fa-check"></i> Checkout</a>
        <input href="/users/checkout" type="submit" value="Shop Now" class="btn btn-primary" />

    }

}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


